<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/past-tasks">Past tasks</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>