<nav id="mobilenav">
    <ul>
        <div class="menuitems">
            <li><a href="/dashboard" class="menuitem">Dashboard</a></li>
            <li><a href="/tasks" class="menuitem">Tasks</a></li>
            <li><a href="/past-tasks" class="menuitem">Past tasks</a></li>
        </div>
        <div>
            <li><a href="/logout" class="menuitem">Logout</a></li>
        </div>
    </ul>
</nav>