<h2>Create new Task</h2>
<form action="/create" method="POST">
    <label>Task name:<input type="text" name="taskName" required/></label>
    <label>Due date:<input type="text" name="dueDate" required/></label>
    <label>Collaborators:<input type="text" name="collaborators" required/></label>
    <button type="submit">Create</button>
</form>