<div class="app">
    <%- include('./partials/navbar.ejs') %>
    <div class="pagecontent">
        <div class="tabtitle">
            <h2>Create Task</h2>
        </div>
        <div class="tabpage">
        <div class="createformcontainer">
            <form class="createform" action="/tasks/create" method="POST">
                <p>
                    <div class="wrapinputs">
                        <label>Task name:</label>
                        <input type="text" name="taskName" required/>
                    </div>
                </p>
                <p>
                    <div class="wrapinputs">
                        <label>Due date:</label>
                        <input type="date" name="dueDate" required/>
                     </div>
                </p>
                <p>
                    <div class="wrapinputs">
                        <label>Collaborators:</label>
                        <input type="text" name="collaborators"/>
                    </div>
                </p>
                
                <button class="no-border" id="createtaskbutton" type="submit">Create</button>
            </form>
        </div>
        


        <% if (typeof errorMessage !== "undefined") { %>
            <p><%= errorMessage  %> </p>
        <% } %>
        </div>
    </div>
</div>