<%- include('./partials/navbar.ejs') %>
<h1>Dashboard</h1>
<p>Tasks due today:</p>
<% tasksDueToday.forEach(task => { %>
 <p><%= task.taskName %> </p>
 <div>
    <form action="/dashboard/<%= task.id  %>/done" method="POST">
        <button type="submit" name="taskCompleted"></button>
    </form>
</div>
<% }) %>
<a href="/tasks">View all tasks</a>
<a href="/tasks/create">Create a task</a>