<h2>Edit Task</h2>
<form action="/edit" method="POST">
    <label>Task name:<input type="text" name="taskName" required/></label>
    <label>Due date:<input type="text" name="dueDate" required/></label>
    <label>Collaborators:<input type="text" name="collaborators" required/></label>
    <button type="submit">Edit</button>
</form>