<div class="container">
<h1>Welcome to Task App!</h1>
<p>We made it easy for you to organize your tasks 😊</p>
<div class="button-container">
    <a href="/login" class="button login">Login</a>
    <a href="/signup" class="button signup">Signup</a>
</div>
</div>


