<div class="outsidepage">
    <div class="container">
        <h1>Welcome to TaskIt!</h1>
        <p class="padding">We made it easy for you to organize your tasks 😊</p>
        <div class="button-container">
            <a href="/login" class="button login">Login</a>
            <a href="/signup" class="button signup">Signup</a>
        </div>
    </div>
</div>