<h2>Task list</h2>
<a href="/tasks/create">Create a task</a>
<a href="/dashboard">Dashboard</a>

<div>
    <% allTasks.forEach(task => { %>
        <div class="task">
            <p><%= task.taskName  %> </p>
            <p><%= task.createdAt  %> </p>
            <p><%= task.dueDate  %> </p>
        </div>
    <% }) %>
</div>