<div class="outsidepage authpages">
    <h1>Login</h1>
    <form action="/login" method="POST">

            <div class="wrapinputs">
                <label>Email</label>
                <input type="email" name="email" required/>
            </div>
            <div class="wrapinputs">
            <label>Password</label>
            <input type="password" name="password" required/>
            </div>

            <div class="signup-login-button">
                <button class="button login no-border loginfix" type="submit">Login</button>
            </div>

        <p class="smalltext">Not registered? <span><a class="signuplink" href="/signup">Sign up</a></span></p>
    </form>
    <% if (typeof errorMessage !== "undefined") { %>
        <p><%= errorMessage  %> </p>
    <% } %>
