<div class="outsidepage authpages">
    <h1 class="align-left">Signup</h1>
    <form action="/signup" method="POST">

            <div class="wrapinputs">
                <label>First Name</label>
                <input type="text" name="firstName" required/>
            </div>
            <div class="wrapinputs">
                <label>Last Name</label>
                <input type="text" name="lastName" required/>
            </div>

            <div class="wrapinputs">
                <label>Email</label>
                <input type="email" name="email" required/>

            <div class="wrapinputs">
                <label>Password</label>
                <input type="password" name="password" required/>
            </div>
                <button class="button login no-border loginfix" type="submit">Signup</button>

    </form>
    <p class="smalltext">Already have an account? <span><a class="signuplink" href="/login">Login here</a></span></p>

    <% if (typeof errorMessage !== "undefined") { %>
        <p><%= errorMessage  %> </p>
    <% } %>
</div>